In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('../../assets/Datasets/raw_dataset_weather_2022_2024.csv', skiprows=7)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131520 entries, 0 to 131519
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   location_id                131520 non-null  int64
 1   time                       131520 non-null  object
 2   temperature_2m (°C)        131500 non-null  float64
 3   relative_humidity_2m (%)   131500 non-null  float64
 4   dew_point_2m (°C)          131500 non-null  float64
 5   apparent_temperature (°C)  131500 non-null  float64
 6   rain (mm)                  131500 non-null  float64
 7   snowfall (cm)              131500 non-null  float64
 8   weather_code (wmo code)    131500 non-null  float64
 9   pressure_msl (hPa)         131500 non-null  float64
 10  cloud_cover (%)            131500 non-null  float64
 11  wind_speed_10m (km/h)      131500 non-null  float64
 12  wind_direction_10m (°)     131500 non-null  float64
 13  wind_gusts_10m (km/h)      131500 non-null  float64
dtypes: float64(12), int64(1), object(1)
memory usage: 14.0+ MB

In [46]:
#remove na
df.dropna(inplace=True)

df.head()

,location_id,time,temperature_2m (°C),relative_humidity_2m (%),dew_point_2m (°C),apparent_temperature (°C),rain (mm),snowfall (cm),weather_code (wmo code),pressure_msl (hPa),cloud_cover (%),wind_speed_10m (km/h),wind_direction_10m (°),wind_gusts_10m (km/h)
0,0,2022-01-01T00:00,8.1,100.0,8.1,6.5,0.0,0.0,3.0,1013.5,100.0,8.0,190.0,12.6
1,0,2022-01-01T01:00,7.8,100.0,7.7,6.4,0.0,0.0,3.0,1013.6,100.0,5.4,180.0,13.0
2,0,2022-01-01T02:00,8.0,100.0,7.9,6.7,0.0,0.0,3.0,1012.8,100.0,5.2,146.0,9.7
3,0,2022-01-01T03:00,8.5,99.0,8.4,7.3,0.1,0.0,51.0,1012.4,100.0,5.9,137.0,12.6
4,0,2022-01-01T04:00,9.0,99.0,8.8,7.2,0.0,0.0,3.0,1011.3,100.0,10.4,160.0,16.2

In [47]:
df.columns = ['location_id', 'date', 'temperature', 'relative_humidity', 'dew_point', 'apparent_temperature', 'rain', 'snowfall', 'weather_code', 'pressure_msl', 'cloud_cover', 'wind_speed', 'wind_direction', 'wind_gusts_10']
df.drop(columns=['rain', 'snowfall'], inplace=True)

df['date'] = pd.to_datetime(df['date'])
df['location_id'] = df['location_id'] + 1

#Agregar columna 'year' con el año de la columna 'pickup_datetime'
df['year'] = df['date'].dt.year
#Agregar columna 'month' con el mes de la columna 'date'
df['month'] = df['date'].dt.month
#Agregar columna 'day' con el día de la columna 'date'
df['day_of_month'] = df['date'].dt.day
#agregar columna 'hour_of_day' 
df['hour_of_day'] = df['date'].dt.hour
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 131500 entries, 0 to 131515
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   location_id           131500 non-null  int64
 1   date                  131500 non-null  datetime64[ns]
 2   temperature           131500 non-null  float64
 3   relative_humidity     131500 non-null  float64
 4   dew_point             131500 non-null  float64
 5   apparent_temperature  131500 non-null  float64
 6   weather_code          131500 non-null  float64
 7   pressure_msl          131500 non-null  float64
 8   cloud_cover           131500 non-null  float64
 9   wind_speed            131500 non-null  float64
 10  wind_direction        131500 non-null  float64
 11  wind_gusts_10         131500 non-null  float64
 12  year                  131500 non-null  int32
 13  month                 131500 non-null  int32
 14  day_of_month          131500 non-null  int32
 15  hour_of_day           131500 non-null  int32
dtypes: datetime64[ns](1), float64(10), int32(4), int64(1)
memory usage: 15.0 MB

,location_id,date,temperature,relative_humidity,dew_point,apparent_temperature,weather_code,pressure_msl,cloud_cover,wind_speed,wind_direction,wind_gusts_10,year,month,day_of_month,hour_of_day
0,1,2022-01-01 00:00:00,8.1,100.0,8.1,6.5,3.0,1013.5,100.0,8.0,190.0,12.6,2022,1,1,0
1,1,2022-01-01 01:00:00,7.8,100.0,7.7,6.4,3.0,1013.6,100.0,5.4,180.0,13.0,2022,1,1,1
2,1,2022-01-01 02:00:00,8.0,100.0,7.9,6.7,3.0,1012.8,100.0,5.2,146.0,9.7,2022,1,1,2
3,1,2022-01-01 03:00:00,8.5,99.0,8.4,7.3,51.0,1012.4,100.0,5.9,137.0,12.6,2022,1,1,3
4,1,2022-01-01 04:00:00,9.0,99.0,8.8,7.2,3.0,1011.3,100.0,10.4,160.0,16.2,2022,1,1,4